body {
    color : #FFFAFF;
    background-color: #0A2463;
    text-align: center;
}


#btn-locate {}

#map {
    height: 600px;
    width: 57.5%;
    margin: 1.25%;
}

.input-field:hover {

    color:  #FFFAFF;
    background-color: #D8315B
    
}

#info-rest {
    height: 600px;
    width: 37.5%;
    margin: 1.25%;
    background-color: #FFFAFF; 
}

tbody {

    display: block;
    height: 100%;
    overflow: auto;
}

.thumbnail {
    width: 10%;
}

#food-list , .card {
    /* margin: 5%; */
}

.form, .row {
    margin-bottom: 0px;
}