body {
    color: #FFFAFF;
    background-color: #0A2463;
    text-align: center;
    font-family: 'Voces', cursive;
}

#btn-locate {}

#map {
    height: 600px;
    width: 57.5%;
    margin: 1.25%;
}

.input-field label {
    color: #3E92CC;
}

.input-field input:focus+label,
.materialize-textarea:focus:not([readonly]) {
    color: #3E92CC !important;
}

.row .input-field input:focus,
.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #3E92CC !important;
    box-shadow: 0 1px 0 0 #3E92CC !important
}

#info-rest {
    height: 600px;
    width: 37.5%;
    margin: 1.25%;
    background-color: #FFFAFF;
    display: block;
    overflow: auto;
}

.card {
    color: black;
}

.form,
.row {
    margin-bottom: 0px;
}