body {
    background-color: gray;
    text-align: center
}

#btn-locate {}

#map {
    height: 600px;
    width: 62.5%;
    margin: 1.25%;
}

#info-rest {
    height: 600px;
    width: 32.5%;
    margin: 1.25%;
    background-color: ivory;
}

tbody {
    display: block;
    height: 100%;
    overflow: auto;
}

.thumbnail {
    width: 10%;
}

.card.horizontal .card-image {
    max-width: 25%;
}